* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

:root {
  --primary-color: #113f67;
  --secondary-color: #e7eaf6;
  --accent-color: #ff6f00;
  --white: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 0.0625rem);
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

.container {
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  text-align: center;
  padding: 2.5rem 2.8125rem;
  border-radius: 1.125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.7);
  position: relative;
}

.container header {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.container i {
  color: var(--accent-color);
  font-size: 4.5rem;
  margin-bottom: 0.625rem;
}

.container .content {
  padding: 0.5rem 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.container .content .joke-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: var(--white);
  overflow: auto;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.container .content .joke-button {
  margin-top: 0.625rem;
}

.container .content button {
  cursor: pointer;
  border: 0;
  padding: 0.75rem 2.25rem;
  outline: 0;
  color: var(--primary-color);
  font-weight: 550;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.container .content button:hover {
  border-color: var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
